* { line-height:18px; }

* { outline:none; }

*, td, p, span, storng, div, input, textarea {
  padding:0px;
  margin:0px;
  font-size:inherit;
  color:inherit;
  font-family:inherit;
}
p, td div {
  padding:0px;
  margin:0px;
}
h1 { font-size:16px; }
h2 { font-size:14px; }


p, storng, b {
  color:inherit;
  font-size:inherit;
}

p { margin:4px 0px 6px 0px; }
li { margin-left:20px; }
a img { border:0px; }
textarea { overflow:auto; }
iframe { background:transparent; }

strong, b {
  font-family:'roboto_condensedbold', arial;
  color:inherit;
  font-size:inherit;
}
i {
  font-family:'roboto_condenseditalic', arial;
  color:inherit;
  font-size:inherit;
}

h2 strong {
  color:inherit;
  font-size:inherit;
}

table {
  empty-cells:show;
  border-collapse:collapse;
}

* { line-height:20px; }

button, input, select, textarea {
  font-size:100%;
  margin:0;
  vertical-align:baseline;
  *vertical-align:middle;
}

button, input {
  line-height:normal;
  *overflow:visible;
}

.full {
  display:block;
  width:100%;
  height:100%;
}

.nodec {
  text-decoration:none;
  border:0px;
}

.nw { white-space:nowrap !important; }
.b { font-weight:bold; }
.i { font-style:italic; }
.u { text-decoration:underline; }

.pointer { cursor:pointer !important; }
.outerClick { cursor:pointer; }

a * { cursor:pointer !important; }

.hr {
  font-size:1px;
  line-height:1px;
  margin:20px 0px 20px 0px;
  border-top:1px solid #868695;
  height:1px;
}



.cb { clear:both; }

.spacer {
  font-size:1px;
  line-height:1px;
  margin:0px 0px 0px 0px;
  height:10px;
}

.j { text-align:justify; }
.l { text-align:left; }
.r { text-align:right; }
.c { text-align:center; }

