.input_text, .input_password{ width: 130px; height: 25px; padding: 0px 10px; border: none; background: #efefef; }
.input_button{ width: 80px; height: 25px; padding: 0px 10px; border: none; background: #efefef; }